<div class="autocomplete" ng-if="suggestionList.visible">
  <ul class="suggestion-list">
    <li class="suggestion-item"
        pagination-id="suggestionList.id"
        dir-paginate="item in suggestionList.items | itemsPerPage: suggestionList.paging"
        current-page="suggestionList.currentPage"
        ng-class="getSuggestionClass(item, $index)"
        ng-click="addSuggestionByIndex($index)"
        ng-mouseenter="suggestionList.select($index)">
      <span class="swatch" style="{{getInlineStyles(item)}}"></span>
      <ti-autocomplete-match scope="templateScope" data="::item"></ti-autocomplete-match>
    </li>
      <li class="helptext pager" ng-if="suggestionList.total > 10">
          <dir-pagination-controls pagination-id="suggestionList.id" max-size="5"></dir-pagination-controls>
      </li>

      <li class="helptext" ng-if="suggestionList.total < 1">
          no matches, press 'enter' to create
      </li>
    <li>

    </li>
  </ul>
</div>
