<div class="autocomplete" ng-if="suggestionList.visible">
  <ul class="suggestion-list">
    <li class="suggestion-item"
        ng-repeat="item in suggestionList.items track by track(item)"
        ng-class="{selected: item == suggestionList.selected}"
        ng-click="addSuggestionByIndex($index)"
        ng-mouseenter="suggestionList.select($index)">
      <span class="swatch" style="{{getInlineStyles(item)}}"></span>
      <ti-autocomplete-match data="::item"></ti-autocomplete-match>
    </li>
      <li class="helptext" ng-if="suggestionList.total > 10">
          top <strong>{{suggestionList.items.length}}</strong> results shown of <strong>{{suggestionList.total}}</strong> matches
      </li>

      <li class="helptext" ng-if="suggestionList.total < 1">
          no matches
      </li>
  </ul>
</div>
